body {
	background-color: black;
	color: white;

	.App {
		margin-top: 100px;

		.text-danger-rd {
			color: rgb(255, 160, 160);
		}

		button.submit {
			margin-top: 40px;
			width: 100%;
		}
	}

	table {
		margin-top: 50px;
		td {
			vertical-align: middle;
		}
	}
}
